<template name="components_accounts">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">{{i18n 'dapp.components.accounts.header'}}</div>
        <div class="panel-body">
            <p>{{i18n 'dapp.components.accounts.description'}}</p>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>{{i18n 'dapp.app.headers.identicon'}}</td>
                        <td>{{i18n 'dapp.app.headers.address'}}</td>
                        <td>{{i18n 'dapp.app.headers.balance'}}</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each accounts}}
                    <tr>
                        <td>{{number}}</td>
                        <td>{{> dapp_identicon identity=address class="dapp-small"}}</td>
                        <td> <input type="text" value="{{address}}" class="web3_address"/></td><td>{{toEth balance}} ether</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
